<% @meta_title = "Информация" %>

<%= container do %>
  <%= row do %>
    <div class="col-xl-2"></div>
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24 col-xl-20">

      <h2 class="m-b-2">О нас</h2>

      <p>Наш фермерский магазин находится по адресу:</p>
      <p>Рогачевское шоссе 38 км. деревня Федоровка, дом 23а.</p>
      <p>К нам удобно добраться на автобусах:</p>
      <ul>
        <li>С Лобни и Рогачево № 50</li>
        <li>С Яхромы № 31</li>
      </ul>
      
      <p class="bg-success p-a-1 m-y-1">Бесплатная доставка в радиусе 20 км при покупке от 2000 руб.</p>

      <%= row class: 'm-t-3' do %>
        <div class="col-lg-12">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=toQYBPzgwdE_rJgq_tbClHu5lRUw16nc&width=375&height=300&lang=ru_RU&sourceType=constructor&scroll=true"></script>
        </div>
        <div class="col-lg-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5271.2666002840615!2d37.22630821664134!3d56.25569413240886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1465133900684" width="375" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      <% end %>

    </div>
  <% end %>
<% end %>
