<div class="pull-xs-right">
  <%= form_tag farm_search_path, method: 'get',  role: 'search', class: 'navbar-form form-inline' do %>
    <div class="search-control input-group">
      <%= text_field_tag :q, params[:q], class: 'search-control__input js-filter-control js-filter-text-input js-filter-search form-control', placeholder: 'Введите строку для поиска' %>
      <% if params[:q].present? %>
        <%= link_to '', request.query_parameters.except(:q), class: "search-control__x" %>
      <% end %>
      <%= hash_to_hidden_fields(request.query_parameters.except(:q)) %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-outline-secondary">Поиск</button>
      </span>
    </div>
  <% end %>
</div>
