<ul class="nav navbar-nav pull-xs-right">
  <li class="nav-item">
    <%= link_to '#', class: "nav-link m-l-2 d-inline-block" do %>
      <%= icon 'shopping-cart' %> Корзина
    <% end %>
  </li>
</ul>

