<h1>Заказ на podychevo.ru</h1>

Благодарим вас за оформление заказа в нашем интернет магазине. В ближайшее время мы с вами свяжемся для согласования заказа.


<%= render 'farm/orders/order_products' %>
<%= render 'farm/orders/order_buyer' %>
