//= require noUiSlider/distribute/nouislider
//= require farm/products

$fa-font-path: '/Font-Awesome/fonts';
@import 'Font-Awesome/scss/font-awesome';

$grid-columns:      24;
$grid-gutter-width: 15px;

@import "bootstrap/scss/bootstrap";

@import "search";
@import "welcome";

.yield {
  min-height: 400px;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.search-control {
  position: relative;
}

.search-control__input {
  padding-right: $input-height;
  z-index: 10;
  border-color: $btn-secondary-border;
}

.search-control__x {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center right ($input-height / 4);
  background-size: ($input-height / 2) ($input-height / 2);
  background-image: $form-icon-danger;
  top: 0;
  right: 5rem;
  height: $input-height;
  width: $input-height;
  z-index: 20;
}

.categories-tree {
  list-style-type: none;
  padding-left: 0;
  li li {
    margin-left: 1.5rem;
  }
}

#back-breadcrumb::before {
  content: '';
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
