<div id="jsoneditor" style="width: 600px; height: 400px;"></div>
<br />
<br />
<input type="text" id="es_index" value="<%= index.es_index %>">
<br />
<br />
<div id="formresult"></div>
<br />
<button id="sendJSON">Send JSON</button>
<br />
<br />

<script>
  // create the editor
  var container = document.getElementById("jsoneditor");
  var options = {
    mode: 'tree',
    modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
    onError: function (err) {
      alert(err.toString());
    },
    onModeChange: function (newMode, oldMode) {
      console.log('Mode switched from', oldMode, 'to', newMode);
    }
  };
  var editor = new JSONEditor(container, options);
  var es_body = <%= index.es_body.to_json.html_safe %>;
  editor.set(es_body);

  var makeRequest = function(done){
    var xhr = new XMLHttpRequest();
    xhr.open('<%= index.persisted? ? 'PUT' : 'POST' %>', '<%= polymorphic_path(index, {format: 'json'}) %>', true);
    xhr.setRequestHeader('content-type', 'application/json');
    xhr.setRequestHeader('accept', 'application/json');

    xhr.onload = function () {
      done(null, xhr.response);
    };

    xhr.onerror = function () {
      done(xhr.response);
    };

    // get json
    var es_body = editor.get();
    var es_index = document.querySelector('#es_index').value;
    xhr.send(JSON.stringify({index: {es_index: es_index, es_body: es_body}}));
  };

  $('#sendJSON').on("click", function(){
    makeRequest(function(err, response){
      if (err) { throw err; }
      $('#formresult').html(response);
    })
  });


</script>
